header{
    background-color:rgb(195, 191, 186)!important ;
    padding: 10px;
}
header #number{
    font-size: 14px;
    border-radius: 50%;
}
.body-main{
   
 background-color: rgb(230, 228, 225); 
 height:1500px;
 width: 100%;
 
 padding: 20px 0;
}
.body-main #nav-phone .card,
.body-main #nav-phone-2 .card,
.body-main #nav-phone-3 .card{
    display:inline-block;
    width: 250px !important;
    height: 460px !important;
    padding: 20px;
    margin-right: 24px;
    border-radius: 15px;
    margin-top: 20px;
}
.body-main  .card h6{
    text-align: left;
    font-size: 17px;
}
.body-main  .card p{
    text-align: left;
    font-size: 17px;
    color: black;
}
.body-main  .card p.price{
    text-align: left;
    font-size: 25px;
    color: red;
}
.body-main .input-group {
    position: relative;
    
}
.body-main .shopping-cart{
    position: absolute;
    right: 300px;
    text-decoration: none;
    margin-right: 50px;
   color:#333;
    padding-top: 8px;
    font-size: 20px;
}
.body-main .btn-search{

    position: absolute;
    right: 0;
}

.body-main .input-search{
    position: absolute;
    right: 65px;
}
.body-main #thanhTien{
    font-size: 25px;
    margin-top: 10px;
}
.body-main #chuThich {
    margin-top: 20px;
    font-size: 20px;
}
.body-main #thanhtoan{
    display: none;
}
.btn-capNhap{
    display: none;
}






