header{
    background-color:rgb(195, 191, 186)!important ;
    padding: 10px;
}
header #number{
    font-size: 14px;
    border-radius: 50%;
}
.body-main{


 height: 100%;
 width: 100%;
 
 padding: 20px 0;
}
.btn-capNhap{
    display: none;
}


